<style>
  .btn-delete {
    position: absolute;
    top: -14px;
    right: 30px;
    font-size: 20px;
    z-index: 1000;
    color: darkred;
    border-radius: 50%;
    cursor: pointer;
    padding: 6px;
    background-color: white;
  }
</style>
<app-layout-site>
  <router-outlet>
    <div class="container-fluid">
      <div class="row flex-center">
        <div class="m-3 position-relative" *ngFor="let movie of lstMovie">
          <div class="btn-delete"><i class="fas fa-trash"></i></div>
          <app-movie-item [poster]="movie"></app-movie-item>
        </div>
      </div>
<!--      <div class="flex-center mt-5">-->
<!--        <pagination-controls [id]="config.id"-->
<!--                             [maxSize]="maxSize"-->
<!--                             [directionLinks]="directionLinks"-->
<!--                             [autoHide]="autoHide"-->
<!--                             [responsive]="responsive"-->
<!--                             [previousLabel]="labels.previousLabel"-->
<!--                             [nextLabel]="labels.nextLabel"-->
<!--                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"-->
<!--                             [screenReaderPageLabel]="labels.screenReaderPageLabel"-->
<!--                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"-->
<!--                             (pageChange)="onPageChange($event)"-->
<!--                             (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>-->
<!--      </div>-->

    </div>
  </router-outlet>
</app-layout-site>
