<style>
  .movie-detail-container {
    height: 548px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url("Logo.png") no-repeat center center;
    background-size: cover;
    padding: 50px 0;
  }

  .movie-detail-container .img-box img{
    border-radius: 20px;
  }

  .movie-detail .title {
    font-size: 64px;
    font-weight: 600;
    font-family: 'Sen', sans-serif;
  }

  .movie-detail .information {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 18px;
  }

  .movie-detail .information span {
    padding: 0 12px;
  }

  .movie-detail .information i {
    font-size: 8px;
  }

  .movie-detail .information i.fa-imdb {
    font-size: 26px;
  }

  .movie-detail .description {
    margin-top: 32px;
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
  }

  .genre-box {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
  }

  .genre-box .genre {
    padding: 8px 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 24px;
  }


</style>
<app-layout-site>
  <router-outlet>
      <div class="movie-detail-container" [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(0,0,0,0), #151515),url(' + movie?.coverImg +')' }">
        <div class="container">
          <div class="row flex-center">
            <div class="col-4 img-box">
              <img src="{{movie?.posterImg}}" class="img-fluid" alt="">
            </div>
            <div class="col-8">
              <div class="movie-detail">
                <h1 class="title">{{movie?.title}}</h1>
                <div class="information">
                  <span>{{movie?.year}}</span><i class="fas fa-circle"></i>
                  <span>{{movie?.duration}} m</span><i class="fas fa-circle"></i>
                  <span>{{movie?.imdb}}</span><i class="fab fa-imdb"></i>
                </div>
                <div class="genre-box">
                  <span class="genre" *ngFor="let genre of lstGenres">{{genre?.title}}</span>
                </div>
                <p class="description">{{movie?.description}}</p>
                <div class="feature-button">
                  <button class="btn btn-watch-video mr-3" > Watch Now <i class="fas fa-play"></i></button>
                  <button class="btn btn-watch-trailer" (click)="open(content)"> Watch Trailer <i class="fas fa-film"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label >Date of birth</label>
                <div class="input-group">

                  <button class="btn btn-outline-secondary bi bi-calendar3" type="button"></button>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
          </div>
        </ng-template>

      <div class="cast-container">
        <h3>Casts</h3>
      </div>
    </div>
  </router-outlet>
</app-layout-site>
